A:link {
	COLOR: #0088ff;
	text-decoration: none;
	/*text-shadow: 5px 5px 20px #0088ff;*/
}
A:visited {
	COLOR: #0088ff;
	text-decoration: none;
	/*text-shadow: 5px 5px 20px #0088ff;*/
}
A:hover {
	COLOR: #ff861e;
	text-decoration: underline;
	/*text-shadow: 5px 5px 20px #FF0000;*/
}
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#FFF center;
	width:auto;
	height:auto;
	font-family:Tahoma, Geneva, sans-serif;
}
#content{
	background-color:#FFF;
	width:990px;
	height:auto;
	background-image:  url("../img/bg_1.jpg");
	background-repeat:no-repeat;
}
#header{
	width:990px;
	height:37px;
	padding-top:20px;
}
#in_content{
	/*background:url(../images/body_index.png);*/
	width:990px;
	height:554px;
}
#box_menu{
	background-color:transparent;
	width:990px;
	height:30px;
	
	/*
	border: 0px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;
	*/
}
#box_menu #link:hover{
	/*
	position: relative;
	background-color: #fd7303;
	width: 105px;
	height: 40px;
	top: 60px;
	
	border: 1px solid;
	border-radius: 20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;
	*/
}


#box_leftColumn{
	background-color:transparent;
	width:160px; 
	height:538px;
	float:left;
	font-size:13px;
	/*
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	*/
	margin: 3px;padding: 3px;
	padding-right:10px;
	/*
	border: 0px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;
	*/
}
#box_leftColumn #login{
/*	background-color:transparent;*/
	background-color: rgb(255, 164, 79);
	width:160px;
	height:auto;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-top:10px;
	margin-bottom:10px;
	
	border: 1px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	/*box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;*/
}
#box_leftColumn #Menu{
	background-color:transparent;
	width:150px;
	height:auto;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-top:10px;
	margin-bottom:10px;
	
	/*border: 1px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;*/
}
#box_content{
	position: relative;
	/*position: absolute;*/
	font-size:13px;
	background-color:transparent;
	width:800px; /*I (Ming) minus 20px becuase ->padding-left&right is 10px each order */
	height:auto;
	float:left;
	margin-top: 15px;
	margin-bottom: 3px;
	padding-top: 9px;
	padding-bottom: 10px;
	border: 0px solid;
	border-style:solid;
	border-color:#d76518;
	background-color:#F2F2F2;
}
#box_rightColumn{
	background-color:transparent;
	width:160px;
	height:538px;
	float:left;
	
	padding-top: 8px;
	padding-bottom: 10px;
	/*
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	*/
	margin: 3px;padding: 3px;
	/*
	border: 0px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;
	*/
}
#box_rightColumn #Menu{
	background-color:transparent;
	width:160px;
	height:auto;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-top:10px;
	margin-bottom:10px;
	
	border: 1px solid;
	border-radius: 25px;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-o-border-radius:25px; 
	border-style:solid;
	border-color:#d76518;
	box-shadow: 5px 5px 5px #ffc29a;
	-webkit-box-shadow: 5px 5px 5px #ffc29a;
	-moz-box-shadow: 5px 5px 5px #ffc29a;
	-o-box-shadow: 5px 5px 5px #ffc29a;
}
#logo{
	position:relative;
	margin:auto 0;
	width:255px;
	height:197px;
	background:url(../img/logo.png);
	background-repeat:no-repeat;
}

.inputBox2{
	border: 2px solid #D1C7AC;
	width: 230px;
}

.inputBox{
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
}
.inputBox3{
	border:1px solid #d1c7ac;
	width: 80%;
	max-width: 80%;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
}

.alert{
	color:#DF0000;
	font-size:11px;
	}
	
.subMenu{
	text-align:center;
	padding:20px;
	}
.wb{
	padding-left:22px;
	padding-right:22px;
}

.CSSTableGenerator {

	margin:0px;padding:0px;

	width:100%;
	box-shadow: 10px 10px 50px #FF9966;

	border:none;
	

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

	

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

	

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

	

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}.CSSTableGenerator table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

}.CSSTableGenerator tr:hover td{

	

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#FFDCB9 }

.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{

	vertical-align:middle;

	

	

	border:1px solid #999;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:7px;

	font-weight:normal;

	color:#000000;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td{

		background:-o-linear-gradient(bottom, #cccccc 5%, #FFDCB9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #FFDCB9) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #FFDCB9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#FFDCB9");	background: -o-linear-gradient(top,#cccccc,FFDCB9);


	background-color:#cccccc;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#000000;

}

.CSSTableGenerator tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #cccccc 5%, #FFDCB9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #FFDCB9) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #FFDCB9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#FFDCB9");	background: -o-linear-gradient(top,#cccccc,FFDCB9);


	background-color:#cccccc;

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
/* ### form validate show ### */
label.error{
	color:#FF0000;
	font-weight:bold;
}

#textwhite{
	color: white;
}


#recept-main{
	text-align: center;
	margin: 0 4%;
}
#recept1{
	float:left;
	width: 25%;
}
#recept1 #wrap{

	border: 8px solid #ff791f;
	margin-left: 5px;
	margin-right: 5px; 
	border-radius: 10px;
	overflow:auto;
	height: 200px;
}
#recept2{
	margin-top: 50px;
	float:left;
	width: 25%;
}
#recept2 #wrap{

	border: 8px solid #ff791f;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	overflow:auto;
	height: 200px;
}
#recept3{
	margin-top: 100px;
	float:left;
	width: 25%;
}
#recept3 #wrap{
	border: 8px solid #ff791f;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	overflow:auto;
	height: 200px;
}
#recept4{
	margin-top: 150px;
	float:left;
	width: 25%;

}
#recept4 #wrap{
	border: 8px solid #ff791f;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	overflow:auto;
	height: 200px;
}
#recept-main #headline{
	margin-bottom: 15px;
}