.margin5{
	padding-top: 2px;
	padding-bottom: 2px;
}

#product{
	position: relative; 
	height: 300px;
}
#product #product_L1{
	left: 0px; 
	z-index: 3;
}
#product #product_L2{
	left: 500px; 
	z-index: 2;
}
#product #product_L3{
	left: 1000px; 
	z-index: 1;
}
.registerPage{
	position:relative;
}
.text{
	text-indent: 50px; 
	text-align:justify;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:0px;
	font-size:13px;
}
#container {
		width: 990px;
		min-height: 50px;
		margin: 0 auto;
		border: 0px solid black;
}
.bg{
	width: 990px;
	height:674px;
}
#head_menu{
	width:594px;
	margin:0 auto;
	padding-top:235px;
}
.main_menu{
	position:absolute;
}

#main_menu .menu{
	float:left;
}
#sub_menu{
	margin-top:-2px;
	margin-left:100px;
	width:203px;
	height:114px;
	background:url(../pic/BG_submenu.png);
}
#checkout-bookbank{
	text-align:center;
	margin-top:5px;
}
#show-button{
	margin:2px 1px 1px 2px;
	border:1px solid #FF9966;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px 15px;
	background-color:#FFDFBF;
}
#show-button:hover{
	margin:2px 1px 1px 2px;
	border:1px solid #FF9966;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px 15px;
	background-color:#FFCF9E;
}
#webboard-button-new{
	text-align:center;
	margin: 0;
	border:1px solid #FF9966;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px 15px;
	background-color:#FFDFBF;
}
#webboard-button-new:hover{
	text-align:center;
	margin: 0;
	border:1px solid #FF9966;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px 15px;
	background-color:#FFCF9E;
}
.viewWebboard{
	border:1px solid #FF9966;
	border-radius:10px;
	-moz-border-radius:10px;
	box-shadow: 5px 5px 15px #FF9966;
	padding-bottom:5px;
	margin-bottom:20px;
}
form#frmMain label.error{
	color:#f00;
}
